[submodule "branches/purchase"]
	path = branches/purchase
	url = https://github.com/akretion/l10n-brazil.git
	branch = 12.0-mig-l10n_br_purchase
[submodule "branches/account_payment_order"]
	path = branches/account_payment_order
	url = https://github.com/odoo-brazil/l10n-brazil.git
	branch = 12.0-mig-l10n_br_account_payment_cobranca
[submodule "branches/contract"]
	path = branches/contract
	url = https://github.com/odoo-brazil/l10n-brazil.git
	branch = 12.0-l10n_br_contract
[submodule "branches/nfse_ginfes"]
	path = branches/nfse_ginfes
	url = https://github.com/odoo-brazil/l10n-brazil.git
	branch = feature/12.0-nfse-ginfes
[submodule "branches/website_delivery"]
	path = branches/website_delivery
	url = https://github.com/kmee/l10n-brazil.git
	branch = feature/l10n_br_delivery
[submodule "branches/delivery"]
	path = branches/delivery
	url = https://github.com/odoo-brazil/l10n-brazil.git
	branch = mig-12.0-l10n_br_delivery
[submodule "branches/sale_stock"]
	path = branches/sale_stock
	url = https://github.com/odoo-brazil/l10n-brazil.git
	branch = 12.0-mig-l10n_br_sale_stock
